/* --------------------------------------------------------------- */
/* Navigation Bar */
.ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.li
{
    float:left;
    margin:2px;
}

a
{
    text-decoration:none;
}

.a:link, .a:visited
{
    display: block;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #6666FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.a:hover, .a:active
{
    background-color: #3333CC;
}

/* --------------------------------------------------------------- */
/* Others */
.indent
{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.underline
{
    text-decoration: underline;
}

table
{
    border-collapse: collapse;
    border-width: 1px;
    border-color: #999999;
    border-style:solid;
}

td
{
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    vertical-align: top;
}

pre
{
    margin-top:5px;
    margin-bottom:5px;
}