/* Start of menu bar declaration */
.ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.li
{
    /* float:left; */
    margin:2px;
}

.a:link, .a:visited
{
    display: block;
    width: 130px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF9900;
    /* text-align: center; */
    padding: 4px;
    text-decoration: none;
}

.a:hover, .a:active
{
    background-color: #CC6600;
}

/* End of menu bar declaration */

a
{
    text-decoration:none;
    color:#2200BB;
}

pre
{
    margin:0px;
}

table
{
    border-collapse: collapse;
    border-width: 1px;
    /*border-color: #999999;*/
    border-style:solid;
}

td
{
    /*border-color: #999999;*/
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    vertical-align: top;
}

h2
{
    margin: 2px;
}